<ol class="tags">
	<% for (const property in postsByTagCount) { %> <%#
	<!-- To avoid displaying a null or undefined tag in the list of tags if one or more post have no tag(s) -->
	%> <% if (property !== "null" && property !== "undefined") { %>
	<li class="tag">
		<a class="tag-link" href="/tags/<%= property %>"><%= property %></a>
		<% if (postsByTagCount[property] == 1) { %>
		<span>(1 post)</span>
		<% } else { %>
		<span>(<%= postsByTagCount[property] %> posts)</span>
		<% } %>
	</li>
	<% } %> <% } %>
</ol>
