<div class="footer">
	<div class="pure-g">
		<div class="pure-u-1">
			<p class="copyright"><%- footerCopyright %></p>
		</div>
	</div>
</div>
<% if (locals.build) { %>
<script src="/js/search.js"></script>
<% } %> <%#
<!-- Comment added for readability -->
%> <% if (locals.mdRoute) { %>
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
<% } %>
<script src="/js/main.js"></script>
